<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Check-in Date:</label>
    <input type="date" formControlName="checkInDate" />
    <div *ngIf="reservationForm.get('checkInDate').invalid">
      Check-in date is required
    </div>
  </div>

  <div>
    <label>Check-out Date:</label>
    <input type="date" formControlName="checkOutDate" />
  </div>

  <div>
    <label>Guest name:</label>
    <input type="text" formControlName="guestName" />
  </div>

  <div>
    <label>Email:</label>
    <input type="email" formControlName="guestEmail" />
  </div>

  <div>
    <label>Room number:</label>
    <input type="number" formControlName="roomNumber" />
  </div>

  <button type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>
